In [1]:
import pandas as pd
import re
from pathlib import Path
import xml.etree.ElementTree as ET

## Dictionnary of old drugs

In [3]:
df_drug_name = pd.read_excel("../../Data/drugs/old_drugs_synonyms.xlsx")
df_drug_name = df_drug_name.drop(columns=['Unnamed: 0'])
df_drug_name.head()

   record_no         drug_name
0          1  abacavir sulfate
1          1           1592U89
2          1   1592U89 sulfate
3          1          Abacavir
4          1  Abacavir sulfate

In [4]:
len(df_drug_name)

64433

In [5]:
# DELETE DUPLICATES
df_drug_name = df_drug_name.drop_duplicates(keep=False)
len(df_drug_name)

64429

In [7]:
# Create the drug_name_lower variable to delete duplicates that has just case difference
df_drug_name['drug_name_lower'] = df_drug_name.drug_name.str.lower()
df_drug_name.head()

   record_no         drug_name   drug_name_lower
0          1  abacavir sulfate  abacavir sulfate
1          1           1592U89           1592u89
2          1   1592U89 sulfate   1592u89 sulfate
3          1          Abacavir          abacavir
4          1  Abacavir sulfate  abacavir sulfate

In [8]:
# Delete duplicates from drug_name_lower
df_drug_name = df_drug_name.drop_duplicates(subset=['record_no','drug_name_lower'], keep="first")
len(df_drug_name)

62120

In [ ]:
#CREATE A NEW EMPTY COLUMN FOR "search_string"
df_drug_name['search_string'] = [''] * len(df_drug_name)

In [ ]:
# CREATE THE SEARCH_STRING VARIABLE
search_str = []
to_delete = ['(R)-(-)-','(S)-(-)-','(6S)-','(-)-','-(R)','(R)-',' (R)-','R-','(S)-',' (S)-', '(-)-(R)-'
             ' (pINN)',' (INN)',' [INN]',' [DCIT]',' (USAN)','18F ','[18F]','F 18','(+)-',', n--',
             ' [INN-Spanish]',' [INN-Latin]',' [German]',' [Spanish]',' [French]',' [Latin]',' [Netherlands]',
             ' [Antineoplastic]',' [DCIT,Spanish]',' [INN-French]',' [Czech]',' [Italian]',' [Polish]',' [France]',
             ' [iso-french]',' [Street Name]',' [Germany]',' [German]']
clean_name =''
for index,row in df_drug_name.iterrows() :
    for x in to_delete:
        if x in row.drug_name : 
            clean_name = df_drug_name.drug_name[index].replace(x,'')
            clean_name = re.sub(r'\([^)]*\)', '', clean_name).strip() #Clean all extra () 
            clean_name = re.sub(r'^\-', '', clean_name).strip() #Clean all extra -   
            print(clean_name)
            df_drug_name.search_string[index] = clean_name

In [ ]:
df_drug_name.head()

In [ ]:
#Save the rest of the drug names, if they does not need any cleaning
for index,row in df_drug_name.iterrows() :           
    print(index)
    if (df_drug_name.search_string[index] == ''):
        clean_name = re.sub(r'\([^)]*\)', '', df_drug_name.drug_name[index]).strip()
        df_drug_name.search_string[index] = clean_name
        
df_drug_name.head()

In [9]:
df_drug_name.to_excel('../../Data/drugs/_old_drug_names_final.xlsx')