In [1]:
import csv
import pandas as pd

In [2]:
### USA
df_us = pd.read_csv('../treatment_Data/trial_title/us_title.csv', sep='|')
df_us.head()

,trial_id,short_title,long_title
0,NCT03260985,Precision Psychiatry Continuity Clinic Project,Precision Psychiatry Continuity Clinic Project
1,NCT03268473,Effect of Non-surgical Periodontal Treatment o...,Effect of Non-surgical Periodontal Treatment o...
2,NCT03262610,Setemelanotide in a Single Patient With Partia...,Expanded-access for the Use of Setemelanotide ...
3,NCT03264261,Constraint Induced Movement Therapy for Walkin...,Constraint Induced Movement Therapy for Walkin...
4,NCT03267797,The Effects of Lymphocyte Therapy on Pregnancy...,The Effect of Intrauterine Lymphocyte Therapy ...

In [4]:
### ICTRP
df_ictrp = pd.read_csv('../treatment_Data/trial_title/ictrp_title.csv', sep='|')
df_ictrp.head()

,trial_id,short_title,long_title
0,ACTRN12605000058673,Magnesium in Aneurysmal Subarachnoid Haemorrhage,"A multi-centre, single blinded, randomised con..."
1,ACTRN12605000059662,"Multicentre, Unblinded, Randomised, Controlled...","Multicentre, Unblinded, Randomised, Controlled..."
2,ACTRN12605000060640,A trial of G-CSF in septic shock excluding mel...,A single centre double blinded randomised cont...
3,ACTRN12605000061639,Randomised controlled trial of maintenance flu...,Randomised controlled trial of maintenance flu...
4,ACTRN12605000062628,Placebo versus Adrenaline in Cardiac Arrest,A randomised placebo controlled trial of adren...

In [3]:
### EU
df_eu = pd.read_csv('../treatment_Data/trial_title/eu_title.csv', sep='|')
df_eu.head()

         trial_id                                         long_title
0  2004-000007-18  A Multicentre, Randomised, Double-Blind, Paral...
1  2004-000012-13  A Double-Blind, Placebo-Controlled, Parallel, ...
2  2004-000015-25  A phase 3 randomized, placebo-controlled, doub...
3  2004-000016-10  A 3-MONTH, RANDOMIZED, DOUBLE-BLIND, PLACEBO- ...
4  2004-000020-32  The Efficacy and Safety of Irbesartan/HCTZ Com...

In [5]:
# Function to count words in a string.
def word_count(string):
    tokens = string.split()
    n_tokens = len(tokens)
    return n_tokens

In [7]:
#test
word_count("The quick brown fox jumped over the lazy dog.")

9

In [9]:
df_eu.long_title[1]

'A Double-Blind, Placebo-Controlled, Parallel, Randomized Study To Evaluate The Efficacy And Safety Of 3 Oral Dose Levels Of TMI-005 In Subjects With Active Rheumatoid Arthritis On A Background Of Methotrexate'

In [8]:
word_count(df_eu.long_title[1])

30

In [ ]:
l_trials = ["df_eu","df_us","df_ictrp"]
for l in l_trials:
    l[""]
    
df_eu['diff_length_l'] =  word_count(df_eu.long_title[1]) - word_count()