In [2]:
import csv
import pandas as pd

In [3]:
'''
1) inject the secondary_id column into the base tables that do not contain it
   There are 4 tables : China, brazil, iran and peru 
2) take only the two colums of each table (trial_id and sec_id) 
3) merge sec_ids columns of the same table (to have only 2 columns trial_id and sec_id)
4) remove duplicates if they exist

'''

'\n1) inject the secondary_id column into the base tables that do not contain it\n   There are 4 tables : China, brazil, iran and peru \n2) take only the two colums of each table (trial_id and sec_id) \n3) merge sec_ids columns of the same table (to have only 2 columns trial_id and sec_id)\n4) remove duplicates if they exist\n\n'

In [3]:
### USA

df_ct_main = pd.read_csv('../Data/USA/ct_main.csv', sep='|')
data_USA = df_ct_main[['NCT_ID','SECONDARY_ID']]  # len(data_USA) = 268859
# Determining duplicates
mask = data_USA.duplicated(keep=False)
double = data_USA[mask]   #len(double) = 0 ==> no duplicates in data USA
data_USA = data_USA.rename(columns={ data_USA.columns[0]: "id" , data_USA.columns[1]: "sec_id"})
data_USA[0:4]

            id sec_id
0  NCT03260985    NaN
1  NCT03268473    NaN
2  NCT03262610    NaN
3  NCT03264261    NaN

In [4]:
### Thailand

df_tctr_main = pd.ExcelFile('../Data/Thailand/tctr_main.xlsx').parse('tctr_main')
data_Thailand = df_tctr_main.reindex(columns=['TRIAL_ID','SECONDARY_ID']) # len(data_Thailand) = 1838
# Determining duplicates
mask = data_Thailand.duplicated(keep=False)
double = data_Thailand[mask]   #len(double) = 0 ==> no duplicates in data Thailand
data_Thailand = data_Thailand.rename(columns={ data_Thailand.columns[0]: "id" , data_Thailand.columns[1]: "sec_id"})
data_Thailand[0:4]

                id          sec_id
0  TCTR20180326003             NaN
1  TCTR20180326002             NaN
2  TCTR20180326001             NaN
3  TCTR20180325001  IRB No. 610/60

In [5]:
### PANAFRICA

df_pactr_trials_clean = pd.ExcelFile('../Data/PANAFRICA/pactr_trials_clean.xlsx').parse('Sheet1')
data_PANAFRICA = df_pactr_trials_clean[['id','sec_ids']] # len(data_PANAFRICA) = 2260
# Determining duplicates
mask = data_PANAFRICA.duplicated(keep=False)
double = data_PANAFRICA[mask]   #len(double) = 0 ==> no duplicates in data PANAFRICA
data_PANAFRICA = data_PANAFRICA.rename(columns={ data_PANAFRICA.columns[0]: "id" , data_PANAFRICA.columns[1]: "sec_id"})
data_PANAFRICA[0:4]

   id sec_id
0  85    NaN
1  86    NaN
2  88    NaN
3  89    NaN

In [6]:
### Peru
df_secondary_id = pd.read_csv('../Data/Peru/secondary_id.csv', sep='|')
data_Peru = df_secondary_id[['TRIAL_ID','SECONDARY_ID']] # len(data_Peru) = 7028
# Determining duplicates
mask = data_Peru.duplicated(keep=False)
double = data_Peru[mask]   #len(double) = 5062 ==> len(data Peru) = 1966
data_Peru = data_Peru.drop_duplicates(keep=False)
data_Peru = data_Peru.rename(columns={ data_Peru.columns[0]: "id" , data_Peru.columns[1]: "sec_id"})
data_Peru[0:4]

            id          sec_id
0   PER-001-95    B1-Y-MC-HCIB
4   PER-001-97  MK 0733-140-00
8   PER-002-97     F1D-MC-HGEJ
12  PER-003-97     MK 0991-004

In [7]:
### Iran

df_sec_ids = pd.read_csv('../Data/Iranian RCT/sec_ids.csv', sep='|')
data_Iran = df_sec_ids[['TRIAL_ID','SECONDARY_ID']] # len(data_Iran) = 7028
# Determining duplicates
mask = data_Iran.duplicated(keep=False)
double = data_Iran[mask]   #len(double) = 52 ==> len(data Iran) = 17018
data_Iran = data_Iran.drop_duplicates(keep=False)
data_Iran = data_Iran.rename(columns={ data_Iran.columns[0]: "id" , data_Iran.columns[1]: "sec_id"})
data_Iran[0:4]

                     id sec_id
0   IRCT2016011225986N1    NaN
1  IRCT20171212037844N1    NaN
2    IRCT201408201127N2    NaN
3   IRCT2016063028429N2    NaN

In [8]:
# China

df_ChiCTR_sec_id = pd.read_csv('../Data/China/ChiCTR_sec_id.csv', sep='|')
data_China = df_ChiCTR_sec_id[['TRIAL_ID','SECONDARY_ID']]  # len(data_China) = 15651
# Determining duplicates
mask = data_China.duplicated(keep=False)
double = data_China[mask]   #len(double) = 3 ==> len(data China) = 15648
data_China = data_China.drop_duplicates(keep=False)
data_China = data_China.rename(columns={ data_China.columns[0]: "id" , data_China.columns[1]: "sec_id"})
data_China[0:4]

                    id sec_id
0  ChiCTR-TCH-11001421    NaN
1  ChiCTR-ION-15007043    NaN
2  ChiCTR-DDD-17011762    NaN
3  ChiCTR-ONB-17013950    NaN

In [9]:
### Brazil

df_brazil_secondaryid = pd.read_csv('../Data/Brazil/brazil_secondaryid.csv', sep='|')
data_Brazil = df_brazil_secondaryid.reindex(columns=['TRIAL_ID','SEC_ID'])  # len(data_Brazil) = 3807
# Determining duplicates
mask = data_Brazil.duplicated(keep=False)
double = data_Brazil[mask]   #len(double) = 6 ==> len(data China) = 3801
data_Brazil = data_Brazil.drop_duplicates(keep=False)
data_Brazil = data_Brazil.rename(columns={ data_Brazil.columns[0]: "id" , data_Brazil.columns[1]: "sec_id"})
data_Brazil[0:4]

           id                                sec_id
0  RBR-2rcm2g                             2.215.388
1  RBR-2rcm2g                  70177317.1.0000.0005
2  RBR-3c7rt3  Número do CAAE: 79893517.0.0000.0121
3  RBR-3c7rt3   Número do parecer do CEP: 2.448.674

In [10]:
### Srilanka Slctr

df_Slctr = pd.ExcelFile('../Data/Slctr/Slctr_trials.xlsx').parse('Sheet1')
all_data_Srilanka = df_Slctr[['trial_id','uni_trial_no','trial_no_others']]  
df1 = all_data_Srilanka[['trial_id','uni_trial_no']]
df1 = df1.rename(columns={ df1.columns[0]: "id" , df1.columns[1]: "sec_id"})
df2 = all_data_Srilanka[['trial_id','trial_no_others']]
df2 = df2.rename(columns={ df2.columns[0]: "id" , df2.columns[1]: "sec_id"})
data_Srilanka = df1.append(df2)   # len(data_Srilanka) = 536
# Determining duplicates
mask = data_Srilanka.duplicated(keep=False)
double = data_Srilanka[mask]   #len(double) = 60 ==> len(data Srilanka) = 476
data_Srilanka = data_Srilanka.drop_duplicates(keep=False)
data_Srilanka[0:4]

               id              sec_id
0   SLCTR/2018/15     U1111-1212-4931
1   SLCTR/2018/14                 NaN
2  SLCTR/2018/013  U1111-1211-5706  T
3  SLCTR/2018/012     U1111-1207-6305

In [11]:
# korea CRIS
df_cris_trials = pd.ExcelFile('../Data/CRIS/cris_trials.xlsx').parse('Sheet1')
all_data_korea = df_cris_trials[['cris_id','registry_name']]

s = list(all_data_korea['registry_name'])
new_s = []
for i in s:
    l = str(i).split('-')
    if len(l)!=1:
        new_s.append(l[1])
    else:
        new_s.append(i)
        
se = pd.Series(new_s)
all_data_korea['sec_id'] = se.values  
data_korea = all_data_korea.rename(columns={ all_data_korea.columns[0]: "id" })
data_korea = data_korea[['id','sec_id']]  #len(data_korea) = 2811
# Determining duplicates
mask = data_korea.duplicated(keep=False)
double = data_korea[mask]   #len(double) = 0 ==> len(data Srilanka) = 2811
data_korea = data_korea.drop_duplicates(keep=False)
data_korea[0:4]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

           id sec_id
0  KCT0002834    NaN
1  KCT0002833    NaN
2  KCT0002832    NaN
3  KCT0002831    NaN

In [12]:
# Japan 
df_ctr_data_e = pd.read_csv('../Data/Japan/ctr_data_e.csv', sep=',')
data_japan = df_ctr_data_e.reindex(columns=['Unique ID issued by UMIN','Study ID_1','Study ID_2'])
df1 = data_japan[['Unique ID issued by UMIN','Study ID_1']]
df1 = df1.rename(columns={ df1.columns[0]: "id" , df1.columns[1]: "sec_id"})
df2 = data_japan[['Unique ID issued by UMIN','Study ID_2']]
df2 = df2.rename(columns={ df2.columns[0]: "id" , df2.columns[1]: "sec_id"})
data_japan = df1.append(df2)   # len(data_japan) = 63468
# Determining duplicates
mask = data_japan.duplicated(keep=False)
double = data_japan[mask]   #len(double) = 62098 ==> len(data japan) = 1370
data_japan = data_japan.drop_duplicates(keep=False)
data_japan[0:4]

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

           id        sec_id
1  C000000004   NCT00112099
2  C000000005   NCT00112086
3  C000000012  UHA HCC03-01
5  C000000017   NCT00144144

In [13]:
# ICTRP
df_ictrp_data_2018 = pd.read_csv('../Data/ICTRP/ictrp_data_2018.csv', sep='|')
all_data_ICTRP = df_ictrp_data_2018.reindex(columns=['TrialID','SecondaryID1','SecondaryID2','SecondaryID3','SecondaryID4','SecondaryID5'])
df1 = all_data_ICTRP[['TrialID','SecondaryID1']].rename(columns={ all_data_ICTRP.columns[0]: "id" , all_data_ICTRP.columns[1]: "sec_id"})
df2 = all_data_ICTRP[['TrialID','SecondaryID2']].rename(columns={ all_data_ICTRP.columns[0]: "id" , all_data_ICTRP.columns[2]: "sec_id"})
df3 = all_data_ICTRP[['TrialID','SecondaryID3']].rename(columns={ all_data_ICTRP.columns[0]: "id" , all_data_ICTRP.columns[3]: "sec_id"})
df4 = all_data_ICTRP[['TrialID','SecondaryID4']].rename(columns={ all_data_ICTRP.columns[0]: "id" , all_data_ICTRP.columns[4]: "sec_id"})
df5 = all_data_ICTRP[['TrialID','SecondaryID5']].rename(columns={ all_data_ICTRP.columns[0]: "id" , all_data_ICTRP.columns[5]: "sec_id"})
data_ICTRP = df1.append([df2,df3,df4,df5])  # len(data_ICTRP) = 570730
# Determining duplicates
mask = data_ICTRP.duplicated(keep=False)
double = data_ICTRP[mask]   #len(double) = 513695 ==> len(data japan) = 57035
data_ICTRP = data_ICTRP.drop_duplicates(keep=False)
data_ICTRP[0:4]

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6,7,9,13,14,15,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,68,69,70,71,73,74,75,76,83,85,87,89,91,95,96,97) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                     id                                             sec_id
3   ACTRN12611000046909                                               None
7   ACTRN12611000047998  URA/10/11/080 - Upper South A Regional Ethics ...
11  ACTRN12611000048987                                               None
14  ACTRN12609000652279                                               None

In [14]:
# EU
df_eucrt_data = pd.read_csv('../Data/EU/eucrt_data.csv', sep='|')
all_data_EU = df_eucrt_data.reindex(columns=['EudraCT Number:','A.5.1 ISRCTN(International Standard Randomised Control Trial) number:','A.5.2 US NCT (ClinicalTrials.gov registry) number:'])
df1 = all_data_EU[['EudraCT Number:','A.5.1 ISRCTN(International Standard Randomised Control Trial) number:']].rename(columns={ all_data_EU.columns[0]: "id" , all_data_EU.columns[1]: "sec_id"})
df2 = all_data_EU[['EudraCT Number:','A.5.2 US NCT (ClinicalTrials.gov registry) number:']].rename(columns={ all_data_EU.columns[0]: "id" , all_data_EU.columns[2]: "sec_id"})
data_EU = df1.append([df2])  # len(data_IEU) = 64474
# Determining duplicates
mask = data_EU.duplicated(keep=False)
double = data_EU[mask]   #len(double) = 59142 ==> len(data EU) = 5332
data_EU = data_EU.drop_duplicates(keep=False)
data_EU[0:4]

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (12,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                 id sec_id
452  2010-021048-16    NaN
506  2009-016853-16    NaN
539  2010-022841-93    NaN
545  2011-000144-21    NaN

In [15]:
# ANZCTR
df_anzctr_main = pd.read_csv('../Data/ANZCTR/anzctr_main.csv', sep='|')
all_data_anzctr = df_anzctr_main.reindex(columns=['TRIAL_ID','SECONDARY_ID1','SECONDARY_ID2','SECONDARY_ID3'])
df1 = all_data_anzctr.reindex(columns=['TRIAL_ID','SECONDARY_ID1']).rename(columns={ all_data_anzctr.columns[0]: "id" , all_data_anzctr.columns[1]: "sec_id"})
df2 = all_data_anzctr.reindex(columns=['TRIAL_ID','SECONDARY_ID2']).rename(columns={ all_data_anzctr.columns[0]: "id" , all_data_anzctr.columns[2]: "sec_id"})
df3 = all_data_anzctr.reindex(columns=['TRIAL_ID','SECONDARY_ID3']).rename(columns={ all_data_anzctr.columns[0]: "id" , all_data_anzctr.columns[3]: "sec_id"})
data_anzctr = df1.append([df2,df3])  # len(data_ICTRP) = 64263
# Determining duplicates
mask = data_anzctr.duplicated(keep=False)
double = data_anzctr[mask]   #len(double) = 39439 ==> len(data ANZCTR) = 24824
data_anzctr = data_anzctr.drop_duplicates(keep=False)

def firstElement(x):
    if type(x)!=float:
        x = x[2:-2]
    return(x)
        
new_sec_id = data_anzctr['sec_id'].apply(firstElement)
data_anzctr.insert(loc=0, column='sec_id1', value=new_sec_id)
data_anzctr = data_anzctr[['id','sec_id1']].rename(columns={ 'sec_id1': "sec_id"})
data_anzctr[0:4]

                    id          sec_id
1  ACTRN12608000515392       nil known
3          NCT02568267  2015-003385-84
4  ACTRN12616000947404       NIL KNOWN
5          NCT00335556  NCI-2009-00414

In [16]:
df = data_USA.append([data_Thailand,data_PANAFRICA,data_Peru,data_Iran,data_China,data_Brazil,data_Srilanka,data_korea,data_japan,data_ICTRP,data_EU,data_anzctr])
df

                        id             sec_id
0              NCT03260985                NaN
1              NCT03268473                NaN
2              NCT03262610                NaN
3              NCT03264261                NaN
4              NCT03267797                NaN
5              NCT03260946                NaN
6              NCT03269786                NaN
7              NCT03260205                NaN
8              NCT03263650                NaN
9              NCT03269396                NaN
10             NCT03261245                NaN
11             NCT03265977                NaN
12             NCT03264300  1R01CA213158-01A1
13             NCT03260166                NaN
14             NCT03269630                NaN
15             NCT03268512                NaN
16             NCT03267147                NaN
17             NCT03269383                NaN
18             NCT03266926                NaN
19             NCT03264664     2016-004881-25
20             NCT03269591                NaN
21             NCT03264937                NaN
22             NCT03269552        P30CA015704
23             NCT03266107                NaN
24             NCT03267225                NaN
25             NCT03265340                NaN
26             NCT03267966                NaN
27             NCT03268499                NaN
28             NCT03264274     2014-002003-25
29             NCT03264248                NaN
...                    ...                ...
21227          NCT00867815                NaN
21230  ACTRN12607000033448     ISRCTN11883920
21233          NCT00656747                NaN
21239          NCT02106546                NaN
21251          NCT01335464                NaN
21260          NCT00899275                NaN
21266          NCT02112916                NaN
21267          NCT00164021                NaN
21271          NCT00020111                NaN
21281          NCT01797965                NaN
21284          NCT01760447                NaN
21285          NCT01538680                NaN
21288          NCT00318422                NaN
21290          NCT00607087                NaN
21295          NCT02053792                NaN
21307          NCT03280667                NaN
21315          NCT02408549                NaN
21323          NCT01516541                NaN
21327          NCT00912093                NaN
21330          NCT00973479                NaN
21331          NCT01191801                NaN
21347          NCT00903175                NaN
21351          NCT01572038                NaN
21353          NCT00329628                NaN
21362          NCT00908752                NaN
21367          NCT00863681                NaN
21371  ACTRN12605000700639                NaN
21394          NCT01666977                NaN
21401          NCT02051608                NaN
21420          NCT01549938                NaN

[403238 rows x 2 columns]

In [17]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('all_sec_ids_table.xlsx', engine='xlsxwriter',options={'strings_to_urls': False})

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [45]:
df = df[df.sec_id.notnull()]
df

                         id                                             sec_id
12              NCT03264300                                  1R01CA213158-01A1
19              NCT03264664                                     2016-004881-25
22              NCT03269552                                        P30CA015704
28              NCT03264274                                     2014-002003-25
36              NCT03269578                                          17-C-0156
40              NCT03261050                                       1R61MH111782
45              NCT03267186                                          IRB-38934
46              NCT03267810                                           90SI5023
48              NCT03262766                                              81349
59              NCT03267030                                     2016-004451-70
84              NCT03267342                                    5R34MH107633-02
95              NCT03265964                                           00100075
124             NCT03264066                                     2017-000794-37
127             NCT03266705                                     2017-002572-15
132             NCT03267433                                        U10CA180820
141             NCT03263442                                         CCR-17-300
160             NCT03265652                                       0171-17-SZMC
180             NCT03268941                                    U1111-1196-9143
187             NCT03267680                                        P30CA014089
194             NCT03268954                                    JapicCTI-183848
218             NCT03261999                                     2017-001333-88
221             NCT03268759                                       1K01DA042937
241             NCT03266952                                        R37NS029993
264             NCT03260062                                        R21DC016265
285             NCT03260894                                     2017-002259-26
288             NCT03260842                                        U01CA210020
291             NCT03268577                                            DCP-003
292             NCT03269669                                        U10CA180888
293             NCT03267888                                         RAD4106-17
297             NCT03264365                                       NCT-01721239
...                     ...                                                ...
21394           NCT01666977                                           20101128
21401           NCT02051608                                            WN28745
21420           NCT01549938                                             CIPRIS
101     ACTRN12606000523505         National Clinical Trials Registry: NCTR450
163     ACTRN12613001157763                                         TROG 13.01
305     ACTRN12607000112460  The Australasian Leukaemia and Lymphoma Group:...
1688    ACTRN12618000498291                       ANZGOG 1415/2018', 'CTC 0133
1933    ACTRN12612001045808               www.clinical trials. gov NCT01650701
3827    ACTRN12612000407897                                        NCT00966888
4103    ACTRN12613000934741  CIA-158 (Internal Company Naming Procedure) Fi...
5445   ACTRN12617000087358p                       Sponsor Code: Uni-Koeln-1762
7178    ACTRN12611001083987                         Eudract No. 2004-004506-24
8001    ACTRN12606000301561         National Clinical Trials Registry: NCTR580
8883    ACTRN12612000848808  ISRCTN (International Standard Randomised Cont...
8984    ACTRN12612001235897                           EUDRACT # 2012-004949-32
9019    ACTRN12612000020886                                     ISRCTN63733470
9491    ACTRN12606000112561         National Clinical Trials Registry: NCTR576
9831    ACTRN12617000714381                    Cancer Research UK: CRUK/14/043
11325   ACTRN12608000214336                    ClinicalTrials.gov: NCT00538239
11362   ACTRN12611000474954         ClinicalTrials.gov identifier: NCT01147939
11815   ACTRN12606000533594  Institute of Clinical Research: CTA 21584/0002...
12422   ACTRN12609000035224                 EORTC protocol number: 22114-40111
13232   ACTRN12607000111471  The Australasian Leukaemia and Lymphoma Group:...
13424   ACTRN12611000027910  Eastern Cooperative Oncology Group (ECOG) Prot...
16318   ACTRN12607000589482  AGITG-NCICCTG-CO.20 (Australian Gastrointestin...
16753   ACTRN12611000158965                                            NTR2392
18622   ACTRN12612000419864                 www.clinicaltrials.gov NCT01208766
18677   ACTRN12618000132246                                          ANZUP1601
19477   ACTRN12612000520831  German Clinical Trials Register DRKS-ID: DRKS0...
21230   ACTRN12607000033448                                     ISRCTN11883920

[158202 rows x 2 columns]

In [43]:
# Determining duplicates sec_id
secids = df["sec_id"]
df[secids.isin(secids[secids.duplicated()])]

                         id                                             sec_id
22              NCT03269552                                        P30CA015704
132             NCT03267433                                        U10CA180820
187             NCT03267680                                        P30CA014089
285             NCT03260894                                     2017-002259-26
292             NCT03269669                                        U10CA180888
305             NCT03261180                                        P30CA069533
330             NCT03268603                                        UL1TR000135
376             NCT03260504                                        P30CA015704
411             NCT03263559                                       5U24CA076518
422             NCT03261947                                    U1111-1192-7975
477             NCT03268967                                             113581
701             NCT03266068                                        UL1TR000135
770             NCT03323658                                        P30CA016672
903             NCT03325166                                        P30CA069533
968             NCT03325101                                        P30CA015083
983             NCT03324802                                        P30CA015083
1029            NCT03320330                                        UM1CA097452
1059            NCT03329066                                  1R21HD086448-01A1
1082            NCT03329846                                     2017-002499-14
1175            NCT03323034                                        UM1CA097452
1362            NCT03326258                                        UM1CA186704
1364            NCT03328936                                        P30CA016058
1390            NCT03321643                                        UM1CA186717
1402            NCT03324048                                             ID-RCB
1469            NCT03326921                                        P30CA015704
1514            NCT03325634                                        P30CA046934
1529            NCT03325595                                        R01DA038875
1530            NCT03321903                                        P01CA190193
1538            NCT01186419                                     FBS0701-CTP-04
1553            NCT01189266                                        UM1CA097452
...                     ...                                                ...
21230   ACTRN12607000033448                                Pfizer: 96-OEXE-031
21233           NCT00656747                                              11980
21251           NCT01335464                                            1199.32
21285           NCT01538680                                              15967
21307           NCT03280667                                          ANZUP1601
21347           NCT00903175                                       CRAD001L2202
21351           NCT01572038                                            MO28047
21371   ACTRN12605000700639         National Clinical Trials Registry: NCTR117
21401           NCT02051608                                            WN28745
101     ACTRN12606000523505         National Clinical Trials Registry: NCTR450
163     ACTRN12613001157763                                         TROG 13.01
305     ACTRN12607000112460  The Australasian Leukaemia and Lymphoma Group:...
1933    ACTRN12612001045808               www.clinical trials. gov NCT01650701
3827    ACTRN12612000407897                                        NCT00966888
5445   ACTRN12617000087358p                       Sponsor Code: Uni-Koeln-1762
7178    ACTRN12611001083987                         Eudract No. 2004-004506-24
8001    ACTRN12606000301561         National Clinical Trials Registry: NCTR580
8883    ACTRN12612000848808  ISRCTN (International Standard Randomised Cont...
8984    ACTRN12612001235897                           EUDRACT # 2012-004949-32
9019    ACTRN12612000020886                                     ISRCTN63733470
9831    ACTRN12617000714381                    Cancer Research UK: CRUK/14/043
11325   ACTRN12608000214336                    ClinicalTrials.gov: NCT00538239
11362   ACTRN12611000474954         ClinicalTrials.gov identifier: NCT01147939
11815   ACTRN12606000533594  Institute of Clinical Research: CTA 21584/0002...
13232   ACTRN12607000111471  The Australasian Leukaemia and Lymphoma Group:...
16318   ACTRN12607000589482  AGITG-NCICCTG-CO.20 (Australian Gastrointestin...
18622   ACTRN12612000419864                 www.clinicaltrials.gov NCT01208766
18677   ACTRN12618000132246                                          ANZUP1601
19477   ACTRN12612000520831  German Clinical Trials Register DRKS-ID: DRKS0...
21230   ACTRN12607000033448                                     ISRCTN11883920

[57820 rows x 2 columns]

In [40]:
# Determining duplicates
mask = df.duplicated(keep=False)
double = df[mask]   
double

                        id                                             sec_id
285            NCT03260894                                     2017-002259-26
1082           NCT03329846                                     2017-002499-14
1690           NCT01188356                                             RGST04
1881           NCT01180634                                     2010-019515-38
2070           NCT01185340                                        H9P-MC-LNBR
2274           NCT01183169                                     2010-020033-14
2446           NCT01249404                                     2009-015868-34
2488           NCT01244191                                     2010-022365-10
2653           NCT01243177                                     2010-019765-28
2686           NCT01248195                                     2010-020185-19
2758           NCT01242514                                     2010-020892-22
2792           NCT01243424                                     2009-013157-15
2833           NCT01247324                                     2010-020337-99
2862           NCT01247753                                        K23DK071552
3139           NCT01307397                                     2010-023526-21
3180           NCT01307423                                     2010-020324-22
3192           NCT01301508                                           C3471001
3406           NCT01304836                                     2010-019638-28
3451           NCT01308580                                     2010-022163-35
3467           NCT01309932                                     2010-022568-11
3562           NCT01307267                                     2011-002799-17
3584           NCT01309841                                     2011-001987-24
3848           NCT00930982                                     2009-009869-34
3965           NCT00935168                                ACTRN12609000245291
3978           NCT00931736                                     ISRCTN05675547
4089           NCT00932893                                     2009-012595-27
4100           NCT00930514                                     2008-008490-60
4192           NCT00930462                                           X07-0107
4345           NCT00932451                                     2009-012504-13
4502           NCT00938730                                     2007-001150-87
...                    ...                                                ...
19704  ACTRN12605000706673         National Clinical Trials Registry: NCTR338
20098  ACTRN12606000502538  Australia New Zealand Gynaecological Oncology ...
20202  ACTRN12611000075987                    Clinical Trials.gov-NCT01247753
20577  ACTRN12607000100493                    ClinicalTrials.gov: NCT00193908
20729  ACTRN12612001304820                                                nil
20768  ACTRN12611000088943           0253.0.180.000-08 (CAAE Brazilian CONEP)
20795  ACTRN12608000404325          Australasian Leukaemia and Lymphoma Group
20833  ACTRN12610000913077                                          Nil known
20940  ACTRN12607000042448  Therapeutic Goods Administration (TGA): Protoc...
21230  ACTRN12607000033448                                Pfizer: 96-OEXE-031
21371  ACTRN12605000700639         National Clinical Trials Registry: NCTR117
101    ACTRN12606000523505         National Clinical Trials Registry: NCTR450
163    ACTRN12613001157763                                         TROG 13.01
305    ACTRN12607000112460  The Australasian Leukaemia and Lymphoma Group:...
1933   ACTRN12612001045808               www.clinical trials. gov NCT01650701
3827   ACTRN12612000407897                                        NCT00966888
7178   ACTRN12611001083987                         Eudract No. 2004-004506-24
8001   ACTRN12606000301561         National Clinical Trials Registry: NCTR580
8883   ACTRN12612000848808  ISRCTN (International Standard Randomised Cont...
8984   ACTRN12612001235897                           EUDRACT # 2012-004949-32
9019   ACTRN12612000020886                                     ISRCTN63733470
9831   ACTRN12617000714381                    Cancer Research UK: CRUK/14/043
11325  ACTRN12608000214336                    ClinicalTrials.gov: NCT00538239
11362  ACTRN12611000474954         ClinicalTrials.gov identifier: NCT01147939
11815  ACTRN12606000533594  Institute of Clinical Research: CTA 21584/0002...
13232  ACTRN12607000111471  The Australasian Leukaemia and Lymphoma Group:...
16318  ACTRN12607000589482  AGITG-NCICCTG-CO.20 (Australian Gastrointestin...
18622  ACTRN12612000419864                 www.clinicaltrials.gov NCT01208766
19477  ACTRN12612000520831  German Clinical Trials Register DRKS-ID: DRKS0...
21230  ACTRN12607000033448                                     ISRCTN11883920

[33292 rows x 2 columns]