In [1]:
import pandas as pd
import csv
import re
import string
from functools import reduce
from difflib import SequenceMatcher

### US_data

In [288]:
### us_years
df_us_years = pd.read_csv('../trial_years/us_year.csv', sep='|')
# Determining duplicates
mask = df_us_years.duplicated(keep=False)
double = df_us_years[mask]  #len(double) = 0 ==> no duplicates in df_us_years

### us_titles
df_us_titles = pd.read_csv('../trial_title/us_title.csv', sep='|')
# Determining duplicates
mask = df_us_titles.duplicated(keep=False)
double = df_us_titles[mask]  #len(double) = 0 ==> no duplicates in df_us_titles

### merge us_years with us_titles
df_us = pd.merge(df_us_years, df_us_titles, on='trial_id')
df_us[0:3]

,trial_id,start_year,short_title,long_title
0,NCT03260985,2017.0,Precision Psychiatry Continuity Clinic Project,Precision Psychiatry Continuity Clinic Project
1,NCT03268473,2017.0,Effect of Non-surgical Periodontal Treatment o...,Effect of Non-surgical Periodontal Treatment o...
2,NCT03262610,NaN,Setemelanotide in a Single Patient With Partia...,Expanded-access for the Use of Setemelanotide ...

In [289]:
len(df_us)

268859

### EU_data

In [290]:
### eu_years
df_eu_years = pd.read_csv('../trial_years/eu_year.csv', sep='|')
df_eu_years = df_eu_years.drop(['id','EU','US','ICTRP','Japan','ANZCTR','Iran','China','India','Africa','Korea','Brazil','Thai','Peru','Cuba','SriLanka','check'], axis=1)
# Determining duplicates
mask = df_eu_years.duplicated(keep=False)
double = df_eu_years[mask]  #len(double) = 0 ==> no duplicates in df_eu_years


### eu_titles
df_eu_titles = pd.read_csv('../trial_title/eu_title.csv', sep='|')
# Determining duplicates
mask = df_eu_titles.duplicated(keep=False)
double = df_eu_titles[mask]  #len(double) = 0 ==> no duplicates in df_us_titles

### merge eu_years with eu_titles
df_eu = pd.merge(df_eu_years, df_eu_titles, on='trial_id')
df_eu[0:3]

,trial_id,start_year,long_title
0,2004-000007-18,2004.0,"A Multicentre, Randomised, Double-Blind, Paral..."
1,2004-000012-13,2004.0,"A Double-Blind, Placebo-Controlled, Parallel, ..."
2,2004-000015-25,2004.0,"A phase 3 randomized, placebo-controlled, doub..."

In [291]:
len(df_eu)

29588

### ICTRP_data

In [292]:
### ictrp_years
df_ictrp_years = pd.read_csv('../trial_years/ictrp_year.csv', sep='|')
df_ictrp_years = df_ictrp_years.drop(['id','EU','US','ICTRP','Japan','ANZCTR','Iran','China','India','Africa','Korea','Brazil','Thai','Peru','Cuba','SriLanka','check'], axis=1)
# Determining duplicates
mask = df_ictrp_years.duplicated(keep=False)
double = df_ictrp_years[mask]  #len(double) = 0 ==> no duplicates in df_ictrp_years


### ictrp_titles
df_ictrp_titles = pd.read_csv('../trial_title/ictrp_title.csv', sep='|')
# Determining duplicates
mask = df_ictrp_titles.duplicated(keep=False)
double = df_ictrp_titles[mask]  #len(double) = 0 ==> no duplicates in df_ictrp_titles

### merge ictrp_years with ictrp_titles
df_ictrp = pd.merge(df_ictrp_years, df_ictrp_titles, on='trial_id')
df_ictrp[0:3]

,trial_id,start_year,short_title,long_title
0,ACTRN12605000058673,2005.0,Magnesium in Aneurysmal Subarachnoid Haemorrhage,"A multi-centre, single blinded, randomised con..."
1,ACTRN12605000059662,2005.0,"Multicentre, Unblinded, Randomised, Controlled...","Multicentre, Unblinded, Randomised, Controlled..."
2,ACTRN12605000060640,2003.0,A trial of G-CSF in septic shock excluding mel...,A single centre double blinded randomised cont...

In [293]:
len(df_ictrp)

108931

### 1 - Divide the data where the long_title/short_title infos EXIST or NOT

First, we noticed that there are some data where the "long_title" and "short_title" infos are missing, and this will not help in the comparison, 
we will then divide the dfs data into 2 sub_dfs : df_complete & df_with_nan

In [294]:
# US
df_us_complete = df_us.dropna(subset=['long_title','short_title'])
df_us_with_nan = df_us.merge(df_us_complete, how='outer', indicator=True).query('_merge == "left_only"').drop('_merge', 1)

print('--- FOR US ---')
print('US data with complete info :', len(df_us_complete))
print('US data with missing info :', len(df_us_with_nan))

--- FOR US ---
US data with complete info : 258398
US data with missing info : 10461

In [295]:
# EU
df_eu_complete = df_eu.dropna(subset=['long_title'])
df_eu_with_nan = df_eu.merge(df_eu_complete, how='outer', indicator=True).query('_merge == "left_only"').drop('_merge', 1)

print('--- FOR EU ---')
print('EU data with complete info :', len(df_eu_complete))
print('EU data with missing info :', len(df_eu_with_nan))

--- FOR EU ---
EU data with complete info : 29399
EU data with missing info : 189

In [297]:
# ICTRP
df_ictrp_complete = df_ictrp.dropna(subset=['long_title', 'short_title'])
df_ictrp_with_nan = df_ictrp.merge(df_ictrp_complete, how='outer', indicator=True).query('_merge == "left_only"').drop('_merge', 1)

print('--- FOR ICTRP ---')
print('ICTRP data with complete info :', len(df_ictrp_complete))
print('ICTRP data with missing info :', len(df_ictrp_with_nan))

--- FOR ICTRP ---
ICTRP data with complete info : 73704
ICTRP data with missing info : 35227

In [166]:
df_us_with_nan[0:2]

,trial_id,start_year,short_title,long_title
24,NCT03267225,2016.0,Study on the Genetic Determinants of Clindamyc...,NaN
578,NCT03260153,2017.0,Deproteinised Calf Blood Serum Injection for t...,NaN

In [285]:
len(df_ictrp_complete)

73704

In [ ]:
#save the data
df_us_complete.to_csv('../data/us_ltitles_complete.csv',sep='|')
df_eu_complete.to_csv('../data/eu_ltitles_complete.csv',sep='|')
df_ictrp_complete.to_csv('../data/ictrp_ltitles_complete.csv',sep='|')

### 2 - Create lists: (trial_id, start_year, long_title)

In [167]:
#US
list_us = df_us_complete[['trial_id','start_year', 'long_title']].values.tolist()
list_us[0:1]

[['NCT03260985', 2017.0, 'Precision Psychiatry Continuity Clinic Project']]

In [168]:
#EU
list_eu = df_eu_complete[['trial_id','start_year', 'long_title']].values.tolist()
list_eu[0:1]

[['2004-000007-18',
  2004.0,
  'A Multicentre, Randomised, Double-Blind, Parallel Group, 24 Week Study to Compare the Effect of the Salmeterol/Fluticasone Propionate Combination Product (SERETIDE) 50/250mcg with Salmeterol 50mcg Both Delivered Twice Daily via the DISKUS/ACCUHALER Inhaler on Lung Function and Dyspnoea in Subjects With Chronic Obstructive Pulmonary Disease (COPD).']]

In [169]:
#ICTRP
list_ictrp = df_ictrp_complete[['trial_id','start_year', 'long_title']].values.tolist()
list_ictrp[0:1]

[['ACTRN12605000058673',
  2005.0,
  'A multi-centre, single blinded, randomised controlled trial of two target ranges for serum magnesium in patients with Subarachnoid Haemorrhage to reduce vasospasm']]

### 3 - Functions

In [2]:
### calculate similarity with "SequenceMatcher" where space isJunk 
def similar(a, b):
    return SequenceMatcher(lambda x: x == " ", a.lower(), b.lower()).ratio()

In [4]:
### LIST COMBINATIONS with calculating the difference in the years and titles length
def lists_combinations(list1,list2):
    combination_list = []
    #list = [id,year,title]
    for i in list1:
        for j in list2:
            
            id1 = str(i[0])
            id2 = str(j[0])
            year1 = i[1]
            year2 = j[1]
            title1 = i[2]
            title2 = j[2]
            
            ltitle1 = re.escape(title1).lower()
            ltitle1 = ltitle1.translate(str.maketrans('','',string.punctuation + string.whitespace))
            ltitle2 = re.escape(title2).lower()
            ltitle2 = ltitle2.translate(str.maketrans('','',string.punctuation + string.whitespace))
            
            sim = similar(ltitle1,ltitle2)
            
            if (pd.isnull(year1)) or (pd.isnull(year2)):
                
                if ((ltitle1 in ltitle2) or (ltitle2 in ltitle1) or (sim > 0.8)) :
                #or (sim > 0.22) After testing, we found that when the similarity is 0.8 and above, the two titles are almost identical
                 
                    new_tuple = (id1,year1,title1,id2,year2,title2,sim)
                    combination_list.append(new_tuple) 
                    
            else:
                
                diff = abs(year1 - year2)
                if ((diff < 2) and ((ltitle1 in ltitle2) or (ltitle2 in ltitle1)or (sim > 0.8))) :
                    
                    new_tuple = (id1,year1,title1,id2,year2,title2,sim)
                    combination_list.append(new_tuple) 

    return(combination_list)

### TEST

In [216]:
### eu_ictrp
eu = list_eu[0:15]
ictrp = list_ictrp[6000:6000]
eu_ictrp = lists_combinations(eu,ictrp) 
df_eu_ictrp = pd.DataFrame(eu_ictrp, columns=['id_EU','year_EU','long_title_EU','id_ICTRP','year_ICTRP','long_title_ICTRP','similarity'])
df_eu_ictrp

Empty DataFrame
Columns: [id_EU, year_EU, long_title_EU, id_ICTRP, year_ICTRP, long_title_ICTRP, similarity]
Index: []

In [60]:
print(df_eu_ictrp.long_title_EU[0])
print("////////////")
print(df_eu_ictrp.long_title_ICTRP[0])

A Randomized, Double-Blind, Placebo-Controlled, Phase 3 Study of the Safety and Efficacy of Interferon gamma-Ib in patients with Idiopathic Pulmonary Fibrosis
////////////
A Randomized, Double-Blind, Placebo-Controlled Pharmacokinetic Study of the Chrono Nicotine Replacement Therapy System for adult male smokers

In [281]:
### us_ictrp
us = list_us[300:400]
ictrp = list_ictrp[7500:7750]
us_ictrp = lists_combinations(us,ictrp) 
df_us_ictrp = pd.DataFrame(us_ictrp, columns=['id_US','year_US','long_title_US','id_ICTRP','year_ICTRP','long_title_ICTRP','similarity'])
df_us_ictrp

Empty DataFrame
Columns: [id_US, year_US, long_title_US, id_ICTRP, year_ICTRP, long_title_ICTRP, similarity]
Index: []

In [267]:
### us_ictrp
us = list_us[0:5]
ictrp = list_ictrp[8600:8800]
us_ictrp = lists_combinations(us,ictrp) 
df_us_ictrp = pd.DataFrame(us_ictrp, columns=['id_US','year_US','long_title_US','id_ICTRP','year_ICTRP','long_title_ICTRP','similarity'])
df_us_ictrp

Empty DataFrame
Columns: [id_US, year_US, long_title_US, id_ICTRP, year_ICTRP, long_title_ICTRP, similarity]
Index: []

### TEST to justify the similarity

In [19]:
df_test_eu_us = pd.read_csv('../test for similarity/test_for_title_similarity.csv', sep='|')
df_test_eu_us = df_test_eu_us

In [20]:
len(df_test_eu_us)

2645

In [21]:
df_test_eu_us.long_title_eu[0]

'Phase I/II Open-Label, Pharmacokinetic and Safety Study of a Novel Protease Inhibitor (BMS-232632, ATAZANAVIR, ATV, REYATAZâ\x84¢) in Combination Regimens in Antiretroviral Therapy (ART)-NaÃ¯ve and Experienced HIV-Infected Infants, Children, and Adolescents'

In [22]:
sim_list = []
for index, row in df_test_eu_us.iterrows():
    eu_title = str(df_test_eu_us.long_title_eu[index])
    us_title = str(df_test_eu_us.long_title_us[index])
    
    eu_title = re.escape(eu_title).lower()
    eu_title = eu_title.translate(str.maketrans('','',string.punctuation + string.whitespace))
    us_title = re.escape(us_title).lower()
    us_title = us_title.translate(str.maketrans('','',string.punctuation + string.whitespace))
    
    if pd.isnull(eu_title) or pd.isnull(us_title) :
        sim_list.append(999999999)
    else :
        sim_list.append(similar(eu_title,us_title))
    
df_test_eu_us['title_similarity'] = sim_list

In [23]:
sim_list

[0.9855769230769231,
 0.7086614173228346,
 0.9923076923076923,
 1.0,
 0.9925925925925926,
 0.9272237196765498,
 1.0,
 0.8298507462686567,
 0.9379310344827586,
 1.0,
 0.8491379310344828,
 0.43103448275862066,
 1.0,
 1.0,
 0.6416184971098265,
 1.0,
 0.9181636726546906,
 1.0,
 0.9798387096774194,
 0.9195979899497487,
 1.0,
 0.988835725677831,
 1.0,
 0.9171717171717172,
 1.0,
 1.0,
 1.0,
 0.9970326409495549,
 1.0,
 1.0,
 1.0,
 1.0,
 0.05309734513274336,
 1.0,
 0.7349397590361446,
 0.5590062111801242,
 0.02666666666666667,
 0.02666666666666667,
 0.9652777777777778,
 0.9977827050997783,
 0.9798994974874372,
 0.994328922495274,
 0.38489208633093525,
 1.0,
 0.8571428571428571,
 0.6075085324232082,
 1.0,
 0.02843601895734597,
 0.02197802197802198,
 1.0,
 0.885,
 1.0,
 1.0,
 1.0,
 0.9755102040816327,
 1.0,
 1.0,
 1.0,
 1.0,
 0.5436893203883495,
 1.0,
 1.0,
 0.7931873479318735,
 1.0,
 0.9949748743718593,
 0.1794871794871795,
 1.0,
 1.0,
 1.0,
 0.3008849557522124,
 1.0,
 0.9447852760736196,
 1.0,
 1.0,
 0.19387755102040816,
 0.7943548387096774,
 0.9824561403508771,
 0.9203539823008849,
 0.029850746268656716,
 0.8644688644688645,
 0.993421052631579,
 0.578397212543554,
 1.0,
 1.0,
 0.49869451697127937,
 0.9947089947089947,
 1.0,
 0.9953775038520801,
 0.972972972972973,
 0.2777777777777778,
 1.0,
 1.0,
 0.6312684365781711,
 1.0,
 1.0,
 1.0,
 0.5714285714285714,
 1.0,
 0.027149321266968326,
 1.0,
 1.0,
 0.36942675159235666,
 1.0,
 1.0,
 0.6747967479674797,
 0.9074889867841409,
 0.4435146443514644,
 0.3424124513618677,
 0.5771144278606966,
 0.30845771144278605,
 1.0,
 1.0,
 1.0,
 0.8053097345132744,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9714285714285714,
 0.2457627118644068,
 0.44933920704845814,
 0.8879120879120879,
 0.6837606837606838,
 1.0,
 0.9772727272727273,
 1.0,
 1.0,
 0.9863945578231292,
 1.0,
 0.5157894736842106,
 1.0,
 0.9202453987730062,
 0.967741935483871,
 0.985981308411215,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.823045267489712,
 1.0,
 1.0,
 0.9279279279279279,
 0.01910828025477707,
 0.8387096774193549,
 0.5723684210526315,
 1.0,
 1.0,
 1.0,
 0.957169459962756,
 0.5750636132315522,
 0.7205882352941176,
 0.7307692307692307,
 0.9279279279279279,
 0.9817232375979112,
 1.0,
 1.0,
 0.9542168674698795,
 1.0,
 0.7217125382262997,
 0.8787878787878788,
 0.027522935779816515,
 0.6886075949367089,
 0.25,
 0.8297872340425532,
 1.0,
 1.0,
 0.5947955390334573,
 1.0,
 0.06666666666666667,
 0.948051948051948,
 0.5970149253731343,
 0.8770053475935828,
 0.6149253731343284,
 0.8984126984126984,
 0.4108527131782946,
 0.9876543209876543,
 1.0,
 1.0,
 1.0,
 1.0,
 0.24892703862660945,
 0.543859649122807,
 1.0,
 0.7191011235955056,
 0.9876543209876543,
 1.0,
 1.0,
 0.9885057471264368,
 1.0,
 1.0,
 0.8791208791208791,
 0.9540816326530612,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9264705882352942,
 0.9813664596273292,
 0.37130801687763715,
 1.0,
 0.9744897959183674,
 0.4,
 0.29411764705882354,
 1.0,
 0.4133738601823708,
 0.896969696969697,
 1.0,
 0.9376854599406528,
 1.0,
 0.9675675675675676,
 1.0,
 0.9793103448275862,
 0.9927797833935018,
 1.0,
 1.0,
 1.0,
 0.9644970414201184,
 0.9521276595744681,
 1.0,
 1.0,
 0.015209125475285171,
 0.9761904761904762,
 0.6428571428571429,
 0.4719626168224299,
 0.020066889632107024,
 1.0,
 0.109375,
 1.0,
 1.0,
 1.0,
 0.4230769230769231,
 0.9927710843373494,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9846938775510204,
 1.0,
 0.3374083129584352,
 1.0,
 0.335632183908046,
 1.0,
 1.0,
 0.7409948542024014,
 1.0,
 1.0,
 0.9693877551020408,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9816849816849816,
 0.9910979228486647,
 1.0,
 0.9808219178082191,
 0.7401129943502824,
 1.0,
 1.0,
 1.0,
 0.11152416356877323,
 0.9781420765027322,
 0.9939393939393939,
 1.0,
 1.0,
 0.43137254901960786,
 0.035794183445190156,
 1.0,
 1.0,
 0.967741935483871,
 0.3630769230769231,
 1.0,
 0.9428571428571428,
 1.0,
 1.0,
 0.5168539325842697,
 0.738255033557047,
 0.9836829836829837,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9875776397515528,
 0.7055393586005831,
 0.40522875816993464,
 1.0,
 1.0,
 1.0,
 0.9796954314720813,
 0.4472573839662447,
 1.0,
 0.9973614775725593,
 0.0547945205479452,
 0.6666666666666666,
 1.0,
 1.0,
 1.0,
 0.38235294117647056,
 1.0,
 0.9950248756218906,
 1.0,
 1.0,
 1.0,
 0.9664694280078896,
 1.0,
 0.9977528089887641,
 0.9117647058823529,
 1.0,
 0.7151515151515152,
 0.9405940594059405,
 0.9405940594059405,
 0.6636363636363637,
 1.0,
 0.5353319057815846,
 0.9494163424124513,
 0.0392156862745098,
 0.9948717948717949,
 0.9802955665024631,
 0.9349593495934959,
 1.0,
 0.8333333333333334,
 0.9805194805194806,
 0.6584766584766585,
 1.0,
 0.6956521739130435,
 0.8192219679633868,
 0.3827751196172249,
 0.37383177570093457,
 0.9916897506925207,
 0.6194690265486725,
 0.4523809523809524,
 1.0,
 0.2691415313225058,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.926829268292683,
 0.9113924050632911,
 0.9002217294900222,
 0.21176470588235294,
 0.42714570858283435,
 0.9912023460410557,
 0.5108225108225108,
 0.8329177057356608,
 1.0,
 1.0,
 0.57,
 1.0,
 0.9509803921568627,
 1.0,
 1.0,
 0.38461538461538464,
 1.0,
 0.9881235154394299,
 1.0,
 1.0,
 1.0,
 0.9747899159663865,
 0.8501529051987767,
 1.0,
 0.9119638826185101,
 1.0,
 0.9259259259259259,
 0.5157232704402516,
 0.4778761061946903,
 0.09523809523809523,
 1.0,
 1.0,
 0.6229508196721312,
 0.5013623978201635,
 0.9411764705882353,
 0.8592057761732852,
 1.0,
 0.6176470588235294,
 0.9884169884169884,
 1.0,
 1.0,
 0.9319371727748691,
 0.990990990990991,
 0.4539877300613497,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9197860962566845,
 0.5921052631578947,
 1.0,
 0.994535519125683,
 0.994413407821229,
 1.0,
 0.9972602739726028,
 0.9926289926289926,
 0.9980582524271845,
 0.38513513513513514,
 1.0,
 1.0,
 1.0,
 0.9937106918238994,
 0.8317757009345794,
 1.0,
 0.9940119760479041,
 0.11518324607329843,
 1.0,
 0.40264026402640263,
 1.0,
 1.0,
 0.02214022140221402,
 0.5083932853717026,
 0.9923076923076923,
 0.971830985915493,
 1.0,
 1.0,
 0.03428571428571429,
 1.0,
 1.0,
 1.0,
 0.9230769230769231,
 1.0,
 0.9021739130434783,
 1.0,
 0.9777777777777777,
 0.9818181818181818,
 0.10978520286396182,
 1.0,
 1.0,
 0.9854014598540146,
 1.0,
 1.0,
 1.0,
 0.8732394366197183,
 0.9917808219178083,
 0.9917808219178083,
 1.0,
 0.9959183673469387,
 0.9813333333333333,
 1.0,
 1.0,
 0.7786259541984732,
 1.0,
 1.0,
 0.9507042253521126,
 1.0,
 0.9915966386554622,
 1.0,
 1.0,
 0.9277566539923955,
 1.0,
 0.016260162601626018,
 1.0,
 0.49808429118773945,
 0.29583975346687214,
 0.9902439024390244,
 1.0,
 1.0,
 1.0,
 0.37073170731707317,
 0.9202127659574468,
 0.9906542056074766,
 1.0,
 0.7990074441687345,
 1.0,
 0.9494949494949495,
 1.0,
 0.9134948096885813,
 1.0,
 1.0,
 1.0,
 0.4923599320882852,
 0.836027713625866,
 1.0,
 1.0,
 0.7216494845360825,
 0.9855072463768116,
 0.5817409766454352,
 0.7415730337078652,
 0.9824561403508771,
 1.0,
 0.9942857142857143,
 0.467005076142132,
 0.7624309392265194,
 0.9940119760479041,
 0.9345794392523364,
 0.9925558312655087,
 0.9961240310077519,
 0.9441624365482234,
 1.0,
 1.0,
 0.3856749311294766,
 1.0,
 0.9973333333333333,
 0.9007633587786259,
 1.0,
 1.0,
 0.4931506849315068,
 1.0,
 0.9701492537313433,
 1.0,
 0.9939024390243902,
 1.0,
 1.0,
 0.7392290249433107,
 1.0,
 0.9672131147540983,
 1.0,
 0.9553571428571429,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.696,
 0.511727078891258,
 0.98989898989899,
 1.0,
 0.354978354978355,
 1.0,
 0.9913544668587896,
 0.9146110056925996,
 0.37547892720306514,
 1.0,
 0.8223684210526315,
 1.0,
 0.9747899159663865,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.836676217765043,
 0.9788867562380038,
 0.6822916666666666,
 1.0,
 0.4261168384879725,
 0.9805194805194806,
 0.993006993006993,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.85,
 0.7477477477477478,
 1.0,
 0.35064935064935066,
 0.9768637532133676,
 1.0,
 1.0,
 0.966183574879227,
 0.9361702127659575,
 0.2962962962962963,
 0.042704626334519574,
 1.0,
 1.0,
 0.9832775919732442,
 1.0,
 0.6839378238341969,
 1.0,
 1.0,
 1.0,
 0.7058823529411765,
 1.0,
 0.9608355091383812,
 0.9560975609756097,
 0.9627118644067797,
 0.9937888198757764,
 1.0,
 0.9953917050691244,
 1.0,
 1.0,
 0.490272373540856,
 0.9775280898876404,
 1.0,
 0.9659863945578231,
 0.8888888888888888,
 1.0,
 1.0,
 1.0,
 0.9942857142857143,
 0.9975786924939467,
 1.0,
 1.0,
 0.4077669902912621,
 0.9765765765765766,
 0.055900621118012424,
 0.9616161616161616,
 0.024691358024691357,
 0.3464566929133858,
 0.9911504424778761,
 0.44368600682593856,
 0.06896551724137931,
 1.0,
 1.0,
 0.4857142857142857,
 1.0,
 0.7775377969762419,
 0.6753246753246753,
 1.0,
 0.9197080291970803,
 1.0,
 1.0,
 1.0,
 1.0,
 0.7,
 1.0,
 0.379746835443038,
 0.5547445255474452,
 0.9881154499151104,
 0.2403846153846154,
 0.5161290322580645,
 1.0,
 0.6666666666666666,
 0.7386363636363636,
 1.0,
 0.4717948717948718,
 0.8213457076566125,
 1.0,
 1.0,
 0.9959839357429718,
 0.9398148148148148,
 1.0,
 0.9230769230769231,
 0.8555555555555555,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9424460431654677,
 1.0,
 1.0,
 0.9885057471264368,
 1.0,
 1.0,
 0.9915014164305949,
 1.0,
 1.0,
 0.3076923076923077,
 1.0,
 0.9950980392156863,
 1.0,
 1.0,
 0.9868421052631579,
 1.0,
 1.0,
 1.0,
 0.9891696750902527,
 0.9949748743718593,
 0.8181818181818182,
 0.9502262443438914,
 0.46261682242990654,
 0.4906937394247039,
 1.0,
 0.9576059850374065,
 1.0,
 0.990990990990991,
 0.919093851132686,
 0.6129032258064516,
 0.7316239316239316,
 0.9896373056994818,
 0.6060606060606061,
 0.4978902953586498,
 1.0,
 0.0243161094224924,
 1.0,
 1.0,
 1.0,
 1.0,
 0.7588424437299035,
 0.5076586433260394,
 1.0,
 0.9703947368421053,
 0.12598425196850394,
 0.9705215419501134,
 1.0,
 0.9681159420289855,
 1.0,
 0.9887640449438202,
 0.8716981132075472,
 0.8716981132075472,
 1.0,
 0.6666666666666666,
 0.32620320855614976,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9761904761904762,
 0.7780979827089337,
 1.0,
 1.0,
 0.7857142857142857,
 1.0,
 0.4609053497942387,
 0.027777777777777776,
 1.0,
 0.993006993006993,
 1.0,
 0.9912280701754386,
 1.0,
 1.0,
 0.5375494071146245,
 0.9928571428571429,
 1.0,
 0.9817232375979112,
 1.0,
 1.0,
 0.9138576779026217,
 0.7043478260869566,
 0.5,
 0.983739837398374,
 0.9661538461538461,
 1.0,
 0.9037656903765691,
 0.9807162534435262,
 0.9917355371900827,
 0.9766233766233766,
 1.0,
 0.9961685823754789,
 0.9820359281437125,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9915966386554622,
 0.9868766404199475,
 1.0,
 0.9661538461538461,
 0.940677966101695,
 0.9517241379310345,
 0.8919540229885058,
 1.0,
 1.0,
 0.9948186528497409,
 0.9578947368421052,
 1.0,
 1.0,
 0.9951219512195122,
 1.0,
 1.0,
 0.989010989010989,
 0.98989898989899,
 0.9901639344262295,
 0.9639344262295082,
 0.33819241982507287,
 1.0,
 1.0,
 1.0,
 0.7509881422924901,
 0.9910554561717353,
 0.12133072407045009,
 1.0,
 1.0,
 0.9424083769633508,
 0.728744939271255,
 0.9077490774907749,
 1.0,
 0.5978260869565217,
 1.0,
 1.0,
 0.9929742388758782,
 1.0,
 0.8540305010893247,
 1.0,
 0.3262411347517731,
 1.0,
 1.0,
 0.2880658436213992,
 1.0,
 1.0,
 1.0,
 1.0,
 0.8145896656534954,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.7845303867403315,
 0.9806094182825484,
 0.308300395256917,
 0.9461077844311377,
 1.0,
 0.9873417721518988,
 1.0,
 1.0,
 0.9515418502202643,
 0.9896907216494846,
 0.046153846153846156,
 0.7588652482269503,
 0.7838827838827839,
 0.9815950920245399,
 0.9640287769784173,
 0.6988847583643123,
 1.0,
 1.0,
 1.0,
 0.34843205574912894,
 0.4330357142857143,
 1.0,
 0.31891891891891894,
 0.8202247191011236,
 1.0,
 0.39543726235741444,
 1.0,
 0.8127490039840638,
 0.9836956521739131,
 1.0,
 0.9842931937172775,
 0.9869451697127938,
 1.0,
 0.9216867469879518,
 0.8979591836734694,
 0.6169154228855721,
 0.42748091603053434,
 1.0,
 0.9706744868035191,
 0.8780487804878049,
 1.0,
 0.9772256728778468,
 0.9658119658119658,
 1.0,
 1.0,
 1.0,
 1.0,
 0.986013986013986,
 1.0,
 0.9473684210526315,
 1.0,
 0.30618892508143325,
 1.0,
 0.9051094890510949,
 0.6323024054982818,
 0.965034965034965,
 1.0,
 1.0,
 0.9922480620155039,
 1.0,
 1.0,
 1.0,
 0.11764705882352941,
 0.935064935064935,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.8430493273542601,
 0.8337028824833703,
 0.9222222222222223,
 1.0,
 1.0,
 0.9885057471264368,
 0.4721030042918455,
 1.0,
 0.7533875338753387,
 1.0,
 0.7906976744186046,
 0.9912536443148688,
 0.9859154929577465,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.975609756097561,
 1.0,
 0.9901639344262295,
 1.0,
 0.4377358490566038,
 1.0,
 1.0,
 0.9516129032258065,
 0.9961977186311787,
 1.0,
 0.3271604938271605,
 0.9180327868852459,
 0.9280469897209985,
 0.9781420765027322,
 0.9392265193370166,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9833333333333333,
 0.9166666666666666,
 0.958904109589041,
 0.9632352941176471,
 0.9856459330143541,
 0.13186813186813187,
 0.9018567639257294,
 0.5153374233128835,
 0.9333333333333333,
 1.0,
 0.990228013029316,
 1.0,
 0.9546827794561934,
 0.4205607476635514,
 0.6046511627906976,
 0.8888888888888888,
 1.0,
 1.0,
 0.84,
 1.0,
 0.984,
 0.989010989010989,
 0.9931972789115646,
 1.0,
 1.0,
 0.6765432098765433,
 0.8681672025723473,
 1.0,
 1.0,
 1.0,
 0.4984025559105431,
 1.0,
 0.43727598566308246,
 0.2857142857142857,
 0.997624703087886,
 1.0,
 0.9565217391304348,
 0.909433962264151,
 0.9807280513918629,
 0.5317220543806647,
 0.6157112526539278,
 0.9971181556195965,
 1.0,
 0.9878934624697336,
 1.0,
 0.9803921568627451,
 0.99,
 1.0,
 1.0,
 0.9774011299435028,
 0.9822485207100592,
 1.0,
 0.7330316742081447,
 1.0,
 0.9945054945054945,
 1.0,
 1.0,
 0.986784140969163,
 0.993006993006993,
 0.6499102333931778,
 1.0,
 0.7878787878787878,
 0.3883495145631068,
 1.0,
 0.46258503401360546,
 1.0,
 0.028985507246376812,
 0.02830188679245283,
 0.9962825278810409,
 1.0,
 1.0,
 1.0,
 0.9874476987447699,
 1.0,
 1.0,
 0.5447897623400365,
 1.0,
 1.0,
 0.8571428571428571,
 0.9411764705882353,
 0.43373493975903615,
 1.0,
 1.0,
 1.0,
 0.3249097472924188,
 0.9222797927461139,
 1.0,
 0.9797297297297297,
 0.3389830508474576,
 0.3333333333333333,
 0.995260663507109,
 1.0,
 1.0,
 ...]

In [24]:
df_test_eu_us.to_excel('../test for similarity/test_similarity_eu_us2.xlsx')

In [76]:
## SEQUENCE MATCHER
a2 = similar('An Open-label, Non-comparative, Multi-centre Study to Assess the Efficacy and Safety of Bicalutamide When Used in Combination With Anastrozole for the Treatment of Gonadotropin-independent Precocious Puberty in Boys With Testotoxicosis', 
             '')
a2

0.0

In [63]:
## SEQUENCE MATCHER
b2 = similar('An Open-label, Non-comparative, Multi-centre Study to Assess the Efficacy and Safety of Bicalutamide When Used in Combination With Anastrozole for the Treatment of Gonadotropin-independent Precocious Puberty in Boys With Testotoxicosis', 
             'An open-label, non-comparative, multi-centre study to assess the efficacy and safety of bicalutamide when used in combination with anastrozole for the treatment of gonadotropin-independent precocious puberty in boys with testotoxicosis.')
b2

0.9978768577494692

In [197]:
## SEQUENCE MATCHER
c2 = similar('A Phase 2, Multicenter, Randomized, Double-blind, Placebo-controlled, Parallel-group, Dose-ranging Study Evaluating the Efficacy and Safety of CNTO 148 Administered Subcutaneously in Symptomatic Subjects With Severe Persistent Asthma', 
             'A Phase 2, Randomized, Double-Blind, Crossover Study to Examine the Pharmacodynamics, Safety and Tolerability, and Pharmacokinetics of Single Doses of TD-4208 in Subjects Diagnosed with Chronic Obstructive Pulmonary Disease|Effects of TD-4208 on FEV1 in Subjects with COPD')
c2

0.22574257425742575

In [154]:
ch1 = re.escape('A Phase 2, Randomized, Double-Blind, Placebo-Controlled Study to Evaluate the Safety, Efficacy, Pharmacodynamics, and Pharmacokinetics of RG-012 for Injection in Subjects With Alport Syndrome').lower()
ch2 = re.escape('A Phase 2, Randomized, Double-Blind, Placebo-Controlled Study to Evaluate the Safety, Pharmacodynamics, Pharmacokinetics, Dose Selection, and Preliminary Efficacy of Weekly RG 012 Injections in Patients with Alport Syndrome').lower()

ch1 = ch1.translate(str.maketrans('','',string.punctuation + string.whitespace))
ch2 = ch2.translate(str.maketrans('','',string.punctuation + string.whitespace))

if ch1 in ch2 : 
    print("chaine1 is in chaine2")
else :
    print("chaine1 is not in chaine2")

chaine1 is not in chaine2

In [123]:
print(re.escape('A Safety and Immunogenicity Study of Quadrivalent HPV.... '))

A\ Safety\ and\ Immunogenicity\ Study\ of\ Quadrivalent\ HPV\.\.\.\.\

In [96]:
re.escape('A Safety') in re.escape('A Safety and Immunogenicity Study of Quadrivalent HPV.... ')

True

In [124]:
def compare(s1, s2):
    remove = string.punctuation + string.whitespace
    return s1.translate(str.maketrans('','',string.punctuation)) in s2.translate(str.maketrans('','',string.punctuation))

In [125]:
compare(ch1,ch2)

False

In [135]:
ch1.translate(str.maketrans('','',string.punctuation)) in ch2.translate(str.maketrans('','',string.punctuation))

True

In [134]:
ch2.translate(str.maketrans('','',string.punctuation))

'A Safety and Immunogenicity Study of Quadrivalent HPV A Long Term Immunogenicity Safety and Effectiveness Study of GARDASILâ\x84¢ Human Papillomavirus Types 6 11 16 18 Recombinant Vaccine Among Adolescents Who Received GARDASILâ\x84¢ at 918 Years of Age'

In [133]:
ch1.translate(str.maketrans('','',string.punctuation))

'A Safety and Immunogenicity Study of Quadrivalent HPV '

In [3]:
## VERIFICATION 

title1 = 'Atropine'
title2 = "drug delivery system, inhaled atropine, MicroDose Therapeutx"


ltitle1 = re.escape(title1).lower()
ltitle1 = ltitle1.translate(str.maketrans('','',string.punctuation + string.whitespace))
ltitle2 = re.escape(title2).lower()
ltitle2 = ltitle2.translate(str.maketrans('','',string.punctuation + string.whitespace))
            
            
sim = similar(title1,title2)            
            
print(sim)

0.23529411764705882