In [1]:
import pandas as pd
import csv
from functools import reduce

### US_data

In [2]:
### us_years
df_us_years = pd.read_csv('../trial_years/us_year.csv', sep='|')
# Determining duplicates
mask = df_us_years.duplicated(keep=False)
double = df_us_years[mask]  #len(double) = 0 ==> no duplicates in df_us_years

### us_titles
df_us_titles = pd.read_csv('../trial_title/us_title.csv', sep='|')
# Determining duplicates
mask = df_us_titles.duplicated(keep=False)
double = df_us_titles[mask]  #len(double) = 0 ==> no duplicates in df_us_titles

### merge us_years with us_titles
df_us = pd.merge(df_us_years, df_us_titles, on='trial_id')
df_us[0:3]

,trial_id,start_year,short_title,long_title
0,NCT03260985,2017.0,Precision Psychiatry Continuity Clinic Project,Precision Psychiatry Continuity Clinic Project
1,NCT03268473,2017.0,Effect of Non-surgical Periodontal Treatment o...,Effect of Non-surgical Periodontal Treatment o...
2,NCT03262610,NaN,Setemelanotide in a Single Patient With Partia...,Expanded-access for the Use of Setemelanotide ...

In [3]:
len(df_us)

268859

### eu_years

In [4]:
### eu_years
df_eu_years = pd.read_csv('../trial_years/eu_year.csv', sep='|')
df_eu_years = df_eu_years.drop(['id','EU','US','ICTRP','Japan','ANZCTR','Iran','China','India','Africa','Korea','Brazil','Thai','Peru','Cuba','SriLanka','check'], axis=1)
# Determining duplicates
mask = df_eu_years.duplicated(keep=False)
double = df_eu_years[mask]  #len(double) = 0 ==> no duplicates in df_eu_years


### eu_titles
df_eu_titles = pd.read_csv('../trial_title/eu_title.csv', sep='|')
# Determining duplicates
mask = df_eu_titles.duplicated(keep=False)
double = df_eu_titles[mask]  #len(double) = 0 ==> no duplicates in df_us_titles

### merge eu_years with eu_titles
df_eu = pd.merge(df_eu_years, df_eu_titles, on='trial_id')
df_eu[0:3]

,trial_id,start_year,long_title
0,2004-000007-18,2004.0,"A Multicentre, Randomised, Double-Blind, Paral..."
1,2004-000012-13,2004.0,"A Double-Blind, Placebo-Controlled, Parallel, ..."
2,2004-000015-25,2004.0,"A phase 3 randomized, placebo-controlled, doub..."

In [5]:
len(df_eu)

29588

### ictrp_years

In [6]:
### ictrp_years
df_ictrp_years = pd.read_csv('../trial_years/ictrp_year.csv', sep='|')
df_ictrp_years = df_ictrp_years.drop(['id','EU','US','ICTRP','Japan','ANZCTR','Iran','China','India','Africa','Korea','Brazil','Thai','Peru','Cuba','SriLanka','check'], axis=1)
# Determining duplicates
mask = df_ictrp_years.duplicated(keep=False)
double = df_ictrp_years[mask]  #len(double) = 0 ==> no duplicates in df_ictrp_years


### ictrp_titles
df_ictrp_titles = pd.read_csv('../trial_title/ictrp_title.csv', sep='|')
# Determining duplicates
mask = df_ictrp_titles.duplicated(keep=False)
double = df_ictrp_titles[mask]  #len(double) = 0 ==> no duplicates in df_ictrp_titles

### merge ictrp_years with ictrp_titles
df_ictrp = pd.merge(df_ictrp_years, df_ictrp_titles, on='trial_id')
df_ictrp[0:3]

,trial_id,start_year,short_title,long_title
0,ACTRN12605000058673,2005.0,Magnesium in Aneurysmal Subarachnoid Haemorrhage,"A multi-centre, single blinded, randomised con..."
1,ACTRN12605000059662,2005.0,"Multicentre, Unblinded, Randomised, Controlled...","Multicentre, Unblinded, Randomised, Controlled..."
2,ACTRN12605000060640,2003.0,A trial of G-CSF in septic shock excluding mel...,A single centre double blinded randomised cont...

In [7]:
len(df_ictrp)

108931

## Divide dfs where the start_year/long_title info EXISTS or NOT

First, since we noticed that we have data where the "start_year" or the "long_title" info is missing, we will divide the dfs data into 2 sub_dfs : df_years & df_nan_years

In [8]:
# US
df_us_complete = df_us.dropna(subset=['start_year'])
df_us_with_nan = df_us[df_us.isnull().any(1)]
print('--- FOR US ---')
print('US data with complete info :', len(df_us_with_nan))
print('US data with missing info :', len(df_us_complete))

--- FOR US ---
US data with complete info : 14429
US data with missing info : 264216

In [9]:
# EU
df_eu_complete = df_eu.dropna(subset=['start_year'])
df_eu_with_nan = df_eu[df_eu.isnull().any(1)]
print('--- FOR EU ---')
print('EU data with complete info :', len(df_eu_with_nan))
print('EU data with missing info :', len(df_eu_complete))

--- FOR EU ---
EU data with complete info : 781
EU data with missing info : 28977

In [10]:
# ICTRP
df_ictrp_complete = df_ictrp.dropna(subset=['start_year'])
df_ictrp_with_nan = df_ictrp[df_ictrp.isnull().any(1)]
print('--- FOR ICTRP ---')
print('ICTRP data with complete info :', len(df_ictrp_with_nan))
print('ICTRP data with missing info :', len(df_ictrp_complete))

--- FOR ICTRP ---
ICTRP data with complete info : 36290
ICTRP data with missing info : 106894

In [11]:
df_us_with_nan[0:2]

,trial_id,start_year,short_title,long_title
2,NCT03262610,NaN,Setemelanotide in a Single Patient With Partia...,Expanded-access for the Use of Setemelanotide ...
24,NCT03267225,2016.0,Study on the Genetic Determinants of Clindamyc...,NaN

### Functions

In [ ]:
### LIST COMBINATIONS with calculating the difference in titles length
def lists_combinations(list1,list2):
    combination_list = []
    for i in list1:
        for j in list2: 
            diff = abs(int(i[1])-int(j[1]))
            if (diff < 2) :
                id1 = str(i[0])
                year1 = int(i[1])
                id2 = str(j[0])
                year2 = int(j[1])

                new_tuple = (id1,year1,id2,year2, diff)
                combination_list.append(new_tuple)

    return(combination_list)

In [ ]:
#US YEARS
list_years_us = df_us_years[['trial_id','start_year']].apply(tuple, axis=1).tolist()
list_years_us[0:2]

In [ ]:
#EU YEARS
list_years_eu = df_eu_years[['trial_id','start_year']].apply(tuple, axis=1).tolist()
list_years_eu[0:2]

In [ ]:
#ICTRP YEARS
list_years_ictrp = df_ictrp_years[['trial_id','start_year']].apply(tuple, axis=1).tolist()
list_years_ictrp[0:2]

In [ ]:
### us_ictrp  
us1 = list_years_us[0:20000]
ictrp1 = list_years_ictrp[0:20000]
us_ictrp1 = lists_combinations(us1,ictrp1)
len(us_ictrp1)   # Originalement c'est 400 Million

In [ ]:
### us_ictrp
ictrp2 = list_years_ictrp[20000:40000]
us_ictrp2 = lists_combinations(us1,ictrp2) 
len(us_ictrp2)

In [ ]:
### us_ictrp
ictrp3 = list_years_ictrp[40000:60000]
us_ictrp3 = lists_combinations(us1,ictrp3) 
len(us_ictrp3)

In [ ]:
### us_ictrp
ictrp4 = list_years_ictrp[60000:80000]
us_ictrp4 = lists_combinations(us1,ictrp4)
len(us_ictrp4)

In [ ]:
### us_ictrp
ictrp5 = list_years_ictrp[80000:100000]
us_ictrp5 = lists_combinations(us1,ictrp5) 
len(us_ictrp5)

In [ ]:
### us_ictrp
ictrp6 = list_years_ictrp[100000:len(df_ictrp_years)]
us_ictrp6 = lists_combinations(us1,ictrp6) 
len(us_ictrp6)

In [ ]:
us_ictrp11 = us_ictrp1 + us_ictrp2 + us_ictrp3 + us_ictrp4 + us_ictrp5 + us_ictrp6
len(us_ictrp11)

In [ ]:
df_us_ictrp11 = pd.DataFrame(us_ictrp11, columns=['id_US','year_US','id_ICTRP','year_ICTRP', 'diff'])
df_us_ictrp11[0:5]

In [ ]:
dfs = [df_us_ictrp, df_us_ictrp2, df_us_ictrp3, df_us_ictrp4, df_us_ictrp5, df_us_ictrp6]
df_us_ictrp_final1 = reduce(lambda left,right: pd.merge(left,right), dfs)
len(df_us_ictrp_final1)

In [ ]:
df_us_ictrp_final1[0:20]

In [ ]:
### us_eu
us = list_years_us
eu = list_years_eu
us_eu = lists_combinations(us,eu) 
df_us_eu = pd.DataFrame(us_eu, columns=['id_US','indicator_US','year_US','id_EU','indicator_EU','year_EU', 'diff'])

df_us_eu[0:5]

In [ ]:
### eu_ictrp
eu = list_years_eu
ictrp = list_years_ictrp
eu_ictrp = lists_combinations(eu,ictrp) 
df_eu_ictrp = pd.DataFrame(eu_ictrp, columns=['id_EU','indicator_EU','year_EU','id_ICTRP','indicator_ICTRP','year_ICTRP', 'diff'])

df_us_eu[0:5]